:root {
    --cip-primary-1: #FCF2E5;
    --cip-primary-2: #FFE7C6;
    --cip-primary-3: #FFD59B;
    --cip-primary-4: #C5914B;
    --cip-primary-5: #9A713A;
    --cip-primary-6: #503714;
    --cip-primary-7: #FFC371;

    --cip-secondary-1: #FFEAE9;
    --cip-secondary-2: #FFC9C5;
    --cip-secondary-3: #FFA199;
    --cip-secondary-4: #BB554D;
    --cip-secondary-5: #7B2C26;
    --cip-secondary-6: #501813;
    --cip-secondary-7: #FF796E;

    --cip-gray-1: #FFFFFF;
    --cip-gray-2: #F1F3F5;
    --cip-gray-3: #DFE4EA;
    --cip-gray-4: #A4ABB2;
    --cip-gray-5: #67717C;
    --cip-gray-6: #414B56;
    --cip-gray-7: #1F2933;

    --cip-gradient-1: linear-gradient(111.47deg, #FFC371 7.77%, #FF796E 123.47%);
    --cip-gradient-2: linear-gradient(89.65deg, #FFA199 0.22%, #FFC371 99.61%);
    --cip-gradient-3: linear-gradient(120.46deg, #FFC371 20.82%, #C5914B 115.39%);

    --cip-font-fjalla: 'Fjalla One', 'sans-serif';
    --cip-font-urbanist: 'Urbanist', 'sans-serif';
    --cip-font-body: 'Public Sans', 'sans-serif';
}

::selection {
    color: white;
    background-color: var(--cip-primary-4);
}

body {
    font-family: var(--cip-font-body);
    overflow-x: hidden;
    box-sizing: border-box;
    line-height: 1.4em;
}

.text-headline-1 {
    font-family: var(--cip-font-fjalla);
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}

.text-headline-2 {
    font-family: var(--cip-font-fjalla);
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
}

.text-headline-3 {
    font-family: var(--cip-font-fjalla);
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.text-title-1 {
    font-family: var(--cip-font-body);
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.text-title-2 {
    font-family: var(--cip-font-body);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.text-title-3 {
    font-family: var(--cip-font-body);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.text-title-4 {
    font-family: var(--cip-font-body);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.text-body-1 {
    font-family: var(--cip-font-body);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.text-body-2 {
    font-family: var(--cip-font-body);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.text-body-3 {
    font-family: var(--cip-font-body);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--cip-gray-7);
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.pool-badges {
    display: flex;
    gap: 8px;
}

.badge-success {
    padding: 2px 6px;
    color: #00582E; 
    background: #009A754D;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.badge-warning {
    padding: 2px 6px;
    color: #1F2933;
    background: #FFD59B;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.badge-negative {
    padding: 2px 6px;
    color: #7B2C26; 
    background: #FFC9C5;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}